<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="xandeer.android.lab">

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name=".App"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="AllowBackup,GoogleAppIndexingWarning">
    <activity
      android:name=".pdfpreview.PdfPreviewActivity"
      android:theme="@style/Theme.Design.NoActionBar" />
    <activity android:name=".work.WorkActivity" />
    <activity android:name=".pdftopng.PdfToPngActivity" />
    <activity android:name=".main.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".dbx.DropboxActivity" />
    <activity
      android:name="com.dropbox.core.android.AuthActivity"
      android:configChanges="orientation|keyboard"
      android:launchMode="singleTask">
      <intent-filter>

        <!-- Change this to be db- followed by your app key -->
        <data android:scheme="db-n9ck51v5umi27od" />

        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.BROWSABLE" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
  </application>

</manifest>